include includers/head.pug
body(data-language!=lang)
	include includers/components/header.pug
	//.cookies-data(data-text='#{i18n.cookies.text}' data-link-text='#{i18n.cookies.link_text}' data-url='#{i18n.cookies.url}')

	h2
		| #{i18n.meta.titulo}

	script(src='js/app.min.js?')
	//script(src='https://platform.twitter.com/widgets.js')

			|<script>
			|var clientDevice;
			|var md = new MobileDetect(window.navigator.userAgent);
			|if (md.phone()) {
			|	clientDevice = 'Mobile';
			|} else if (md.tablet()) {
			|	clientDevice = 'Tablet';
			|} else {
			|	clientDevice = 'Desktop';
			|}
			|dataLayer = [{
			|	'idioma': '',
			|	'categoriaSite': '',
			|	'seccio': 'Fans',
			|	'canal': clientDevice,
			|	'subseccio': ''
			|}];
			|dataLayer.push({
			|	'event': 'paginaVirtual',
			| 	'eventValue': ''
			|});
			|</script>
			|<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-TR7BQW"
			|height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
			|<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
			|new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
			|j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
			|'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
			|})(window,document,'script','dataLayer','GTM-TR7BQW');</script>
